#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}

#logo{
    width: 100%;
    text-align: center;
}

#logo img{
    width: 40vw;
    height: 40vw;
}

ion-input{
    --background: var(--ion-tab-bar-background);
    width: 90%;
    --border-color: var(--ion-color-primary) !important;
    --border-width: 2px;
    margin-bottom: 10px;
    --highlight-color-focused: var(--ion-color-primary) !important;
    --highlight-color-valid: var(--ion-color-primary) !important;
    --highlight-color-invalid: var(--ion-color-primary) !important;
    --highlight-color: var(--ion-color-primary) !important;
}

#inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#button-entrar{
    text-transform: none;
    width: 60vw;
    height: 5vh;
    --border-radius: 20px;
    --box-shadow: 0px 0px 0px 2px var(--ion-color-primary);
    color: var(--ion-text-color);
    font-weight: 700;
}