<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="tertiary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="login">
    <div id="logo">
      <img alt="logo skullvies" src="../../assets/logo.png">
    </div>
    <h3>Redefinição de senha</h3>
    <div id="inputs">
      <ion-input
        [(ngModel)]="email"
        id="email-input" 
        label="E-mail" 
        labelPlacement="floating" 
        placeholder="Digite seu e-mail" 
        errorText="E-mail inválido"
        inputmode="email"
        shape="round"
        fill="outline"
        email>
      </ion-input>
      <ion-button id="button-entrar" (click)="recoverPassword()">Enviar e-mail</ion-button>
    </div>
  </div>
</ion-content>
