#pesquisa{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#pesquisa svg{
    width: 29px;
    height: 29px;
    flex-shrink: 0;
    fill: var(--ion-text);
    margin: 30px 30px 0 0;
}

#logo{
    width: 45px;
    height: 45px;
    margin: 14px 0 0 14px;
    filter: var(--logo-light-mode) !important;
}

#card-top-router{
    height: 27vh;
    margin: 0 3.666vw 3vw;
}

.card-top{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: none;
    height: 100%;
    width: 100%;
    border-radius: 24px;
    background: linear-gradient(0deg, var(--ion-background-color) 0%, rgba(0,0,0,0) 60%);
}

.card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.card-top::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, var(--ion-background-color) 0%, rgba(0,0,0,0) 60%);
  z-index: 1; /* Ajusta o z-index para que o gradiente fique sobre a imagem */
}

.card-top ion-card-title, ion-card-subtitle{
    color: var(--ion-text);
    z-index: 2;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    --background: transparent;
    box-shadow: none;
    width: 29vw;
    height: 100%;
    min-height: 23vh;
}

.title-p{
    color: var(--ion-text);
    text-align: center;
    font-size: 2.5vh;
    margin: 0 0 1vh;
    font-weight: 700;
}

.destaques-card{
    justify-content: center;
    height: 100%;
    min-height: 23vh;
}

.card-title{
    color: var(--ion-text);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: normal;
}

.card-title, .card-subtitle{
    margin: 0;
}

.card-subtitle{
    color: var(--ion-subtitle);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.card-header{
    padding: 0;
}

.card-img{
    width: 100%;
    height: 18vh;
    border-radius: 24px;
    object-fit: cover;
    object-position: center;
}

ion-col{
    display: flex;
    padding: 1.5vw;
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 23vh;
}

ion-grid{
    padding: 0;
    margin: 0 3.666vw 0;
}
