<ion-content id="content" [fullscreen]="true">
  <div [routerLink]="['/search']" id="pesquisa">
    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M19.4991 17.0286L29 26.5294L26.5294 29L17.0286 19.4991C15.2544 20.7759 13.1155 21.5552 10.7776 21.5552C4.82504 21.5552 0 16.7301 0 10.7776C0 4.82504 4.82504 0 10.7776 0C16.7301 0 21.5552 4.82504 21.5552 10.7776C21.5552 13.1155 20.7759 15.2544 19.4991 17.0286ZM10.7776 3.31618C6.64894 3.31618 3.31618 6.64894 3.31618 10.7776C3.31618 14.9062 6.64894 18.239 10.7776 18.239C14.9062 18.239 18.239 14.9062 18.239 10.7776C18.239 6.64894 14.9062 3.31618 10.7776 3.31618Z"/>
    </svg>
  </div>
  <p class="title-p">Novo Lançamento</p>
  <ion-card [routerLink]="['/movie']" class="card-top">
    <ion-card-header>
      <ion-card-title>Filme Exemplo</ion-card-title>
      <ion-card-subtitle class="card-top-subtitle">Produtora Exemplo</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <p class="title-p">Destaques do Mês</p>
  <ion-grid id="destaques">
    <ion-row>
      <ion-col size="4" [routerLink]="['/movie']" class="destaques-card">
        <ion-card class="card">
          <img class="card-img" alt="Filme exemplo" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">Filme Exemplo</ion-card-title>
            <ion-card-subtitle class="card-subtitle">2024</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4" [routerLink]="['/movie']" class="destaques-card">
        <ion-card class="card">
          <img class="card-img" alt="Filme exemplo" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">Filme Exemplo</ion-card-title>
            <ion-card-subtitle class="card-subtitle">2024</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4" [routerLink]="['/movie']" class="destaques-card">
        <ion-card class="card">
          <img class="card-img" alt="Filme exemplo" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">Filme Exemplo</ion-card-title>
            <ion-card-subtitle class="card-subtitle">2024</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4" [routerLink]="['/movie']" class="destaques-card">
        <ion-card class="card">
          <img class="card-img" alt="Filme exemplo" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">Filme Exemplo</ion-card-title>
            <ion-card-subtitle class="card-subtitle">2024</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4" [routerLink]="['/movie']" class="destaques-card">
        <ion-card class="card">
          <img class="card-img" alt="Filme exemplo" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">Filme Exemplo</ion-card-title>
            <ion-card-subtitle class="card-subtitle">2024</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>  
      <ion-col size="4" [routerLink]="['/movie']" class="destaques-card">
        <ion-card class="card">
          <img class="card-img" alt="Filme exemplo" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">Filme Exemplo</ion-card-title>
            <ion-card-subtitle class="card-subtitle">2024</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
