#pesquisa{
    display: flex;
    width: 100%;
    justify-content: end;
}

#pesquisa svg{
    width: 29px;
    height: 29px;
    flex-shrink: 0;
    fill: #E8E8E8;
    margin: 5vw 5vw 0 0;
}

.card-top{
    display: flex;
    margin: 0 3.666vw 3vw;
    flex-direction: column;
    justify-content: end;
    box-shadow: none;
    height: 30%;
    border-radius: 24px;
    background: linear-gradient(180deg, rgba(26, 26, 29, 0.00) 53%, rgba(26, 26, 29, 0.90) 100%), url(https://ionicframework.com/docs/img/demos/card-media.png) lightgray 50% / cover no-repeat;
}

.card-top ion-card-title, ion-card-subtitle{
    color: #d8d8d8;
}

.card{
    margin: 0;
    --background: transparent;
    box-shadow: none;
    width: 29vw;
    height: 100%;
}

.title-p{
    text-align: center;
    font-size: 2.5vh;
    margin: 0 0 1vh;
}

#destaques{
    display: flex;
    flex-direction: column;
    margin: 0 3.666vw 0;
    gap: 1.5vh;
}

#destaques-1{
    display: flex;
    justify-content: center;
    gap: 3vw;
    height: 23vh;
}

#destaques-2{
    display: flex;
    justify-content: center;
    gap: 3vw;
    height: 23vh;
}

.card-title{
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: normal;

}

.card-subtitle{
    color: #828282;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.card-header{
    padding: 0;
}

.card-img{
    width: 100%;
    height: 75%;
    border-radius: 24px;
    object-fit: cover;
    object-position: center;
}