#user-pesquisa{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#user-pesquisa svg{
    width: 29px;
    height: 29px;
    flex-shrink: 0;
    fill: var(--ion-text) !important;
    margin: 5vw 5vw 0 0;
}

#user-pesquisa p{
    text-align: right; 
    color: var(--ion-text) !important; 
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

#user{
    margin: 5vw 0 0 5vw;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    margin-bottom: 30px;
}

#user img{
    width: 46px;
    height: 46px;
    background: black;
    border-radius: 9999px;
    border: 2px #D32D2D solid;
}

#configs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 5vw;
}

#configs div{
    display: flex;
    gap: 7px;
    font-size: 20px;
    align-items: center;
}

#configs div p{
    margin: 0;
    color: var(--ion-text);
}

#configs div svg{
    fill: var(--ion-text);
}

#configs div ion-toggle{
    margin-left: 5px;
    transform: scale(0.8);
    height: 23px;
}