// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
body{
    --ion-background-color: #1A1A1D;
    --ion-toolbar-background: #1A1A1D;
    --ion-tab-bar-background: #0F0F11;
	--ion-text: #d8d8d8;
	--ion-subtitle: #828282;
	--ion-cardtop-fade: linear-gradient(180deg, rgba(26, 26, 29, 0) 53%, rgba(26, 26, 29, 0.90) 100%), url(https://ionicframework.com/docs/img/demos/card-media.png) lightgray 50% / cover no-repeat;
	--ion-tab-bar-border-color: transparent !important;
	--ion-tab-bar-color: var(--ion-text);

	--ion-color-primary: #D32D2D;
	--ion-color-primary-rgb: 211,45,45;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #ba2828;
	--ion-color-primary-tint: #d74242;

	--ion-color-secondary: #D32D2D;
	--ion-color-secondary-rgb: 211,45,45;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #ba2828;
	--ion-color-secondary-tint: #d74242;

	--ion-color-tertiary: #D32D2D;
	--ion-color-tertiary-rgb: 211,45,45;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #ba2828;
	--ion-color-tertiary-tint: #d74242;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}

body.dark {
    --ion-background-color: #EEEEEE !important;
    --ion-toolbar-background: #EEEEEE !important;
    --ion-tab-bar-background: #D9D9D9 !important;
	--ion-text: #000000 !important;
	--ion-subtitle: #000000 !important;
	--ion-cardtop-fade: linear-gradient(180deg, rgba(238, 238, 238, 0.00) 57.5%, rgba(238, 238, 238, 0.25) 74.5%), url(https://ionicframework.com/docs/img/demos/card-media.png) lightgray 50% / cover no-repeat;
}

	/*
	 * Material Design Dark Theme
	 * -------------------------------------------
	 */
  
	.md body.dark {
		--ion-background-color: #EEEEEE !important;
		--ion-toolbar-background: #EEEEEE !important;
		--ion-tab-bar-background: #D9D9D9 !important;
		--ion-text: #000000 !important;
		--ion-subtitle: #000000 !important;
		--ion-cardtop-fade: linear-gradient(180deg, rgba(238, 238, 238, 0.00) 57.5%, rgba(238, 238, 238, 0.25) 74.5%), url(https://ionicframework.com/docs/img/demos/card-media.png) lightgray 50% / cover no-repeat;
	}
  // }