<ion-content [fullscreen]="true">
  <div id="logo">
    <img alt="logo skullvies" src="../../assets/logo.png">
  </div>
  <div class="poster">
    <img class="poster-img" src="../../assets/home_poster.jpg" alt="poster home" />
  </div>
  <div id="textos">
    <h1>Tudo sobre filmes</h1>
    <p>Acesse já e descubra novos Filmes e Séries!</p>
  </div>
  <div id="botoes">
    <ion-button id="entrar" [routerLink]="['/login']">Entrar</ion-button>
    <ion-button id="cadastrar" [routerLink]="['/cadastro']">Cadastrar</ion-button>
  </div>
</ion-content>
