#poster{
    width: 100%;
    height: 45vh;
    flex-shrink: 0;
    background: linear-gradient(0deg, var(--ion-background-color) 0%, rgba(0,0,0,0) 20%), 
                url(https://ionicframework.com/docs/img/demos/card-media.png);
    background-position: center;
    background-size: cover;
}

#filme-title{
    width: 100%;
    margin: 10px 4vw 0;
    display: flex;
    flex-direction: column;
}

#filme-title h1{
    margin: 0;
    font-weight: 700;
}

#filme-subtitle{
    display: flex;
    color: var(--ion-subtitle);
}

#filme-subtitle p{
    margin: 0 10px 0 0;
}

#favorito-nota{
    display: flex;
    justify-content: space-between;
    margin: 10px 4vw ;
}

#favorito{
    display: flex;
    align-items: center;
}

#favorito p{
    margin: 0 5px 0 0;
}

#favorito ion-icon{
    font-size: 20px;
}

#descricao{
    margin: 0 4vw 10px;
    color: var(--ion-subtitle);
    text-align: justify;
}

ion-avatar{
    width:  50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    border: 2px var(--ion-color-primary) solid;
}

.elenco{
    display: flex;
    background-color: var(--ion-tab-bar-background);
    border-radius: 24px 16px 16px 24px;
}

.elenco-info{
    display: flex;
    margin: 0 10px 0 5px;
    flex-direction: column;
    justify-content: center;
}

.elenco-ator{
    margin: 0 0 5px 0;
    font-size: 12px;
}

.elenco-personagem{
    margin: 0;
    font-size: 10px;
}

ion-col{
    padding: 1.5vw;
}
