<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="tertiary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="poster"></div>
  <div id="filme-title">
    <h1>Filme Exemplo</h1>
    <div id="filme-subtitle">
      <p id="ano">2024</p>
      <p> Produtora exemplo</p>
    </div>
  </div>
  <div id="favorito-nota">
    <div id="favorito">
      <p>Adicionar à sua lista</p>
      <ion-icon color="primary" name="heart-outline"></ion-icon>
    </div>
    <div id="nota">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
    </div>
  </div>
  <p id="descricao">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
  </p>
  <ion-grid id="elenco">
    <ion-row>
      <ion-col size="6">
        <div class="elenco">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div class="elenco-info">
            <p class="elenco-ator">Ator exemplo</p>
            <p class="elenco-personagem">Personagem Exemplo</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="elenco">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div class="elenco-info">
            <p class="elenco-ator">Ator exemplo</p>
            <p class="elenco-personagem">Personagem Exemplo</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="elenco">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div class="elenco-info">
            <p class="elenco-ator">Ator exemplo</p>
            <p class="elenco-personagem">Personagem Exemplo</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="elenco">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div class="elenco-info">
            <p class="elenco-ator">Ator exemplo</p>
            <p class="elenco-personagem">Personagem Exemplo</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="elenco">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div class="elenco-info">
            <p class="elenco-ator">Ator exemplo</p>
            <p class="elenco-personagem">Personagem Exemplo</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="elenco">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <div class="elenco-info">
            <p class="elenco-ator">Ator exemplo</p>
            <p class="elenco-personagem">Personagem Exemplo</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
